<% include ../Elements/sidenav %>    
        <div class="content-i">
                <div class="content-box" style="height: 1388px;">
                    <div class="row">
                        <div class="col-sm-12">
                        <h1>
                        view students
                        </h1>

    <% if( StudentList.length > 0 ) { %>
        
        <table border="1" cellpadding=5>
            <thead>
                <th>S No</th>
                <th>Name</th>
                <th>Admission no</th>
                <th>Roll Number</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                    <% for(var i=0; i<StudentList.length;i++) { %>
                       <% var j=i; %>
                       <% j=j+1; %>
                <tr>
                    <td style="text-align: center"><%= j %></td>
                    <td><%= StudentList[i].First_Name  %></td>
                    <td><%= StudentList[i].Admission_number %></td>
                    <td><%= StudentList[i].Roll_number %></td>
                    <td style="color: brown"><a href="/student/edit/<%= StudentList[i]._id %>" style="color: brown">Edit File</a> </td>
                    <td style="color: brown">
                        <form action="/student/delete/<%= StudentList[i]._id %>" method="POST">
                            <button class="btn btn-warning" style="color: brown">Delete</button>    
                        </form>
                            
                    </td>
                </tr>    
                <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
</div>
</div>
</div>

<% include ../Elements/footers %>