<% include ../Elements/sidenav %>    
        <div class="content-i">
                <div class="content-box" style="height: 1388px;">
                    <div class="row">
                        <div class="col-sm-12">
<% if( addtional.length > 0 ) { %>
        
    <table border="1" cellpadding=5>
        <thead>
            <th>S No</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Allergies</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
                <% for(var i=0; i<addtional.length;i++) { %>
                   <% var j=i; %>
                   <% j=j+1; %>
            <tr>
                <td style="text-align: center"><%= j %></td>
                <td><%= addtional[i].Weight  %></td>
                <td><%= addtional[i].Height %></td>
                <td><%= addtional[i].Allergies %></td>
                <td style="color: brown"><a href="/addtional/edit/<%= addtional[i]._id %>" style="color: brown">Edit File</a> </td>
                <td style="color: brown">
                <form action="/addtional/delete/<%= addtional[i]._id %>" method="POST">
                        <button href="" style="color: brown">Delete</button> 
                </form>
                </td>
            </tr>    
            <% } %>
        </tbody>
    </table>
    <% } %>
</div>
</div>
</div>
</div>

<% include ../Elements/footers %>