<% include ../Elements/sidenav %>    
        <div class="content-i">
                <div class="content-box" style="height: 1388px;">
                    <div class="row">
                        <div class="col-sm-12">



<% if( Previous.length > 0 ) { %>
        
    <table border="1" cellpadding=5>
        <thead>
            <th>S No</th>
            <th>Institution_Name</th>
            <th>Class</th>
            <th>Total_marks</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
                <% for(var i=0; i<Previous.length;i++) { %>
                   <% var j=i; %>
                   <% j=j+1; %>
            <tr>
                <td style="text-align: center"><%= j %></td>
                <td><%= Previous[i].Institution_Name  %></td>
                <td><%= Previous[i].Class %></td>
                <td><%= Previous[i].Total_marks %></td>
                <td style="color: brown"><a href="/Previous/edit/<%= Previous[i]._id %>" style="color: brown">Edit File</a> </td>
                <td style="color: brown">
                    <form action="/Previous/delete/<%= Previous[i]._id %>"  method="POST">
                            <button  style="color: brown">Delete</button>
                    </form>
                </td>
            </tr>    
            <% } %>
        </tbody>
    </table>
    <% } %>
</div>
</div>
</div>
</div>

<% include ../Elements/footers %>